<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PharmSchecule.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PharmSchecule.Settings1>
            <setting name="DefaultYear" serializeAs="String">
                <value>2024</value>
            </setting>
            <setting name="DefaultA" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="DefaultB" serializeAs="String">
                <value>B</value>
            </setting>
        </PharmSchecule.Settings1>
    </userSettings>
</configuration>